<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- /controllers/ranking.js에서 title 값 참조 -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      th { background-color: lightgray; }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <table width="100%" class="tbl1">
      <tr>
        <th>user_id</th>
        <th>score</th>
        <th>start_time</th>
        <th>play_time</th>
        <th>end_time</th>
      </tr>
      <!-- /controllers/ranking.js에서 data 배열 안에 있는 값 참조 -->
      <% data.forEach(function(item) { %>
      <tr>
        <td style="text-align:right; padding-right:5px;"><%= item.user_id %></td>
        <td><%= item.score %></td>
        <td align="center"><%= item.start_time %></td>
        <td align="center"><%= item.play_time %></td>
        <td align="center"><%= item.end_time %></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>